extends ../layouts/default

block content
	.row
		p The Kansas City Soap Box Derby has been holding races since 1947. Soap Box Derby is a racing program for boys and girls ages 7-20. With the help of a parent or another adult, kids build their own gravity-powered race car which they drive themselves. Soap Box Derby builds close parent/child relationships and teaches building skills, perseverance and good sportsmanship.
		p Rallies are sanctioned by either the All-American Soap Box Derby (AA) or National Derby Rallies, Inc. (NDR). AA competitors may be 8 years through 17 years old, and NDR participants may be 7 years to 21 years old.
		p Known as the greatest amateur racing event Soap Box Derby is a youth racing program that began in 1934 and has been an organized sport in Kansas City since 1947. Girls and boys ages 7-20 build their gravity powered racers from kits and compete against other racers reaching speeds up to 35 miles an hour on the dedicated track at 4600 Eastern Avenue in Kansas City Missouri. Racers learn the skill of quality workmanship, the thrill of competition, the importance of sportsmanship and the fulfillment of perseverance.
		hr
	.row.cards
		.col-sm-4
			.card.card--inverse: a
				span.entypo.entypo-cloud.card__icon
				.card__body
					h3.card__title 2014 NDR Race Fees
					ul
						li
							strong $30
							for the first racer in each family for double elimination races
						li
							strong $15
							for each additional racer in each family for double elimination races
						li
							strong $20
							for the first racer in each family for single elimination races
						li
							strong $10
							for each additional racer in each family for single elimination races
		.col-sm-4
			.card.card--primary: a
				span.entypo.entypo-picture.card__icon
				.card__body
					h3.card__title 2014 AA Race Fees
					ul
						li
							strong $35
							for the first racer in each family for double elimination races
						li
							strong $25
							for each additional racer in each family for double elimination races
						li
							strong $25
							for the first racer in each family for single elimination races
						li
							strong $15
							for each additional racer in each family for single elimination races
		.col-sm-4
			.card.card--success: a(href='/contact')
				span.entypo.entypo-mail.card__icon
				.card__body
					h3.card__title 2014 Super Kids
					p In 2013 we started up Super Kids here in Kansas City and we were able to send them to Akron. In 2014 we plan to do even more!
					p We have recieved grants to build our new Super Kids Cars! We still have a lot more needs for the program (updated trailers, a place to keep the cars, ...) so if your interested in helping out a great cause, let us know.
					.card__button Contact us for more info
		.col-sm-4
			.card.card--important: a(href='/blog/post/getting-started')
				span.entypo.entypo-mail.card__icon
				.card__body
					h3.card__title Getting Started
					p Getting started in Soap Box is easy and fun, learn more about getting started in this overview of the what's and how's of getting started.
					.card__button Check it out
		.col-sm-4
			.card.card--inverse: a(href='/races')
				span.entypo.entypo-cloud.card__icon
				.card__body
					h3.card__title 2014 Race Dates
					p The 2014 race dates are here, find out more about our upcoming races.
					.card__button Check it out
