extends ../layouts/default

include ../mixins/race

block intro
	.page-intro: .container
		h1 Races
		p We usually meet up the 3rd Wednesday of every month. To stay in the loop, follow us on twitter.
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join KCSBD
		if races.upcoming.length
			each race in races.upcoming
				+race(race, 'present')
		if races.past.length
			hr
			each race in races.past
				+race(race, 'past')
